@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Stalemate&display=swap");

.home-container {
  display: flex;
}

.eo-img {
  border-radius: 75px;
  height: 70%;
  display: flex;
  margin-left: 150px;
  margin-right: -100px;
}

.eo-img:hover {
  box-shadow: 0 5px 35px 0px orange;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.home-blurb {
  font-family: "Charmonman", cursive;
  font-size: 30px;
  text-align: left;
}

.setupcat {
  height: 20%;
  width: auto;
  border-radius: 80%;
  float: left;
}
