.project-container {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.images {
  margin-top: 50px;
  border-radius: 10%;
  width: 30%;
}

.images:hover {
  box-shadow: 0 5px 35px 0px orange;
}

.texts {
  margin-bottom: 50px;
}

.projects-link {
  padding: 10px;
  border-bottom-style: solid;
  border-bottom-color: white;
  margin-bottom: 50px;
}
