@import url("https://fonts.googleapis.com/css2?family=Stalemate&display=swap");

a:link {
  color: orange;
}

a:visited {
  color: orange;
}

a:hover {
  color: white;
}

a:active {
  color: whitesmoke;
}

ul {
  list-style: none;
  text-align: center;
  font-size: 70px;
  font-family: "Stalemate", cursive;
  margin-top: 5px;
  margin-bottom: 30px;
}

li {
  display: inline-block;
  padding: 20px;
}

header {
  display: inline-block;
}

.linkedin {
  width: 10%;
  height: 25%;
  float: left;
  margin-left: 30px;
  margin-top: 5%;
}

.logo {
  width: 35%;
  margin-top: 40px;
}

.logo:hover {
  box-shadow: 0 5px 35px 0px orange;
}

.octonaut {
  width: 10%;
  height: 25%;
  border-radius: 80%;
  float: right;
  margin-right: 30px;
  margin-top: 5%;
}

@media screen and (max-width: 949px) {
  ul {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .octonaut,
  .linkedin {
    width: 15%;
    height: auto;
  }
}
